<% provide(:title, "About") %>
<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/header' %>         <!-- Show Header Partial -->
  
  <div class="container">
    
    <h4>A little about myself</h4>
    
    <p>As a web designer and front end developer I like to design visually appealing websites
    that focus on a strong user experience through simple functional design. As a former project manager I pride myself 
    on working directly with clients and really understanding what requirements they are looking for in an application and relating this
    to a beautiful and dynamic application that meets the clients' goals. This communication creates a win-win-win situation in the final 
    product as well as the business relationship.</p>
    
    <p>My experience and skill relate to the following:</p>
    
    <ul>
      <li> Responsive Web Design
        <ul>
          <li> Wireframes</li>
          <li> Mockups/Screenshots </li>
          <li> Rendering </li>
        </ul>
      </li>
      <br>
      <li> Front-End Development
        <ul>
          <li> HTML5</li>
          <li> CSS3 </li>
          <li> Javascript/jQuery </li>
          <li> Performance </li>
          <li> Animations </li>
        </ul>
      </li>
      <br>
      <li> Workflow
        <ul>
          <li> Bootstrap </li>
          <li> Git/Github Source Control </li>
          <li> LESS & SASS </li>
        </ul>
      </li>
    </ul>
    
    <p>I acheive to produce an application that:</p>
    
    <ul>  
      <li> Can be accessed on a wide range of devices such as mobile phones, tablets, desktop computers, even TV's via a responsive design. </li>
      <li> Is optimised for performance metrics </li>
      <li> Uses technology progressively </li>
      <li> Is well documented and scalable </li>
    </ul>
    
    
    <h4> Web Designer </h4>
    
    <ol>
      <li>Research - Determine what a client aims to achieve, what there target demographic is, if they
      have a website and what problems they face </li>
      <li>Wireframing - Rapid design of the most effective layouts for a website or application (follows agile methods) </li>
      <li>Mockups - Adds color, texture, and typography to the website </li>
    </ol>
    
    <h4> Front-End Developer </h4>
    <p>I create websites that use progressive enhancement to create a responsive website design that users can enjoy. Cross browser
    compatibilty is ensured by using feature detection so older browsers will provide users with a error free environment, while modern
    browers can give users the next level in user expereience.    
  </div>
</html>