<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active" style="background-image: url(http://kelli-jo.com/wordpress/wp-content/uploads/2015/09/Nature-Beauty-Desktop-Images.jpg)">
      <div class="caption">
        <h1 class="animated fadeInLeftBig">Beautiful and Creative Web Pages</h1>
        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Parallax Scrolling Technology</p>
        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about">Start now</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg)">
      <div class="caption">
        <h1 class="animated fadeInLeftBig">Responsive Designs For All Devices</h1>
        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Parallax Scrolling Technology</p>
        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
      </div>
    </div>
    <div class="item" style="background-image: url(http://blog.jimdo.com/wp-content/uploads/2014/01/tree-247122.jpg)">
      <div class="caption">
        <h1 class="animated fadeInLeftBig">Quality User Experiences</h1>
        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Parallax Scrolling Technology</p>
        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
      </div>
    </div>
  </div>
  
  <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
  <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
</div>