<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 profile">
        <p class="bio"> <%= image_tag"change_pic.png", class: "avatar" %> A graduate student in engineering management, Sonny combines his
        education and seven years of work experience in a multitude of 
        industries to develop software and website designs for happy clients.
        <br> <br> Software Developer and Manager</p>
      </div>
    </div>
    <div class="row text-center">
      <hr>
      <p class="small">Copyright <i class="fa fa-copyright"></i> 2015 Sonny Godwin</p>
    </div>    
  </div>
</footer>